.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 400px;
}

.form h2 {
  margin-top: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #668cb4;
}
